# Normalize line endings / Normalizar fin de línea
* text=auto eol=lf

# Only include the addons folder when downloading from the Asset Library
# Solo incluir la carpeta addons al descargar desde la Asset Library
/**            export-ignore
/addons        !export-ignore
/addons/**     !export-ignore
